# MongoDB - Lab

## Introduction

In this lesson, we'll get some hands-on experience with MongoDB!

## Objectives
You will be able to:
-  Use MongoDB, a popular NoSQL database
-  Create, Read, Update, and Delete Information in MongoDB

## Getting Started

To begin this lab, make sure that you start up the mongoDB server in your terminal first!


## Connecting to the MongoDB Database

In the cell below, import the appropriate library and connect to the mongoDB server. Create a new database called `'lab_db'`.

In [56]:
import pymongo
myclient1 = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = myclient['lab1_db']

## Creating a Collection

Now, create a collection called `'lab_collection'` inside `'lab_db'`.

In [57]:
mycollection1 = mydb['lab_collection']

## Adding Some Data

Now, we're going to add some example records into our database. In the cells below, create dictionary representations of the following customer records:


|     Name     |            Email           |  Mailing_Address  | Balance |                         Notes                         |
|:------------:|:--------------------------:|:-----------------:|:-------:|:-----------------------------------------------------:|
|  John Smith  |    j.smith@thesmiths.com   | 123 mulberry lane |   0.0   |    Called technical support, issue not yet resolved   |
|  Jane Smith  |  jane_smith@thesmiths.com  |         Null          |  25.00  |                   Null                                    |
|  Adam Enbar  | adam@theflatironschool.com |    11 Broadway    |  14.99  |           Set up on recurring billing cycle           |
| Avi Flombaum |  avi@theflatironschool.com |    11 Broadway    |   0.0   |                   Null                                    |
|   Steven S.  |     steven.s@gmail.net     |         Null          |  -20.23 | Refunded for overpayment due to price match guarantee |


Your first challenge is to take all of the data in the table above and create the corresponding documents and add then to our mongo database. Note that fields that contain 'Null' should not be included in the document (recall that since mongo is schema-less, each document can be different). 

Create the documents from the table listed above, and then use `insert_many()` to insert them into the collection.

In [58]:
customer_1 ={'name': 'John Smith', 'email': 'j.smith@thesmiths.com',  'address': '123 mulberry lane', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
customer_2 ={'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com',   'balance': 25, }
customer_3 ={'name': 'Adam Enba', 'email': 'adam@theflatironschool.com',  'address': '11 Broadway', 'balance': 14.99, 'notes': 'Set up on recurring billing cycle'}
customer_4 = {'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com',  'address': '11 Broadway', 'balance': 0.0}
customer_5 ={'name': 'Steven S.', 'email': 'steven.s@gmail.net	',   'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}
all_records =[customer_1, customer_2, customer_3, customer_4, customer_5]

insertion_results = mycollection1.insert_many(all_records)

Now, access the appropriate attribute from the results object returned from the insertion to see the unique IDs for each record inserted, so that we can confirm each were inserted correctly.

In [59]:
insertion_results.inserted_ids

[ObjectId('5d34a26d632fab910a5ad146'),
 ObjectId('5d34a26d632fab910a5ad147'),
 ObjectId('5d34a26d632fab910a5ad148'),
 ObjectId('5d34a26d632fab910a5ad149'),
 ObjectId('5d34a26d632fab910a5ad14a')]

## Querying and Filtering

In the cell below, return the name and email address for every customer record. Then, print every item from the query to show that it worked correctly.

In [60]:
query_1 = mycollection1.find({}, { 'name': 1, 'email': 1})
for x in query_1:
    print(x)

{'_id': ObjectId('5d34a26d632fab910a5ad146'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com'}
{'_id': ObjectId('5d34a26d632fab910a5ad147'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com'}
{'_id': ObjectId('5d34a26d632fab910a5ad148'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com'}
{'_id': ObjectId('5d34a26d632fab910a5ad149'), 'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com'}
{'_id': ObjectId('5d34a26d632fab910a5ad14a'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t'}

Great! Now, let's write a query that gets an individual record based on a stored key-value pair a document contains. 

In the cell below, write a query to get the record for John Smith by using his name. Then, print the results of the query to demonstrate that it worked correctly.

In [61]:
query_2 = mycollection1.find( { 'name':'John Smith'})
for x in query_2:
    print(x)

{'_id': ObjectId('5d34a26d632fab910a5ad146'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'address': '123 mulberry lane', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}

Great! Now, write a query to get the names, email addresses, and balances for customers that have a balance greater than 0. Use a modifier to do this. 

**_HINT_**: In the query below, you'll be passing in two separate dictionaries. The first one defines the logic of the query, while the second tells which fields we want returned.

In [62]:
query_3 = mycollection1.find({"balance": {"$gt": 0}}, {'name':1, 'email':1, 'balance':1})
for x in query_3:
    print(x)

{'_id': ObjectId('5d34a26d632fab910a5ad147'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com', 'balance': 25}
{'_id': ObjectId('5d34a26d632fab910a5ad148'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com', 'balance': 14.99}

## Updating a Record

Now, let's update some records. In the cell below. set the mailing address for Steven S. to `'367 55th St., apt 2A'`.

In [63]:
record_to_update = {'name':'Steven S.'}
update_1 = {'$set': {'address': '367 55th St., apt 2A'}}


mycollection1.update_one(record_to_update, update_1)

query_4 = mycollection1.find({'name':'Steven S.'})
for item in query_4:
    print(item)

{'_id': ObjectId('5d34a26d632fab910a5ad14a'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee', 'address': '367 55th St., apt 2A'}

Now, write a query to check that the update worked for this document in the cell below.

In [64]:

record_to_update1 = {'name':'Steven S.'}
update_2 = {'$set':{'test': 'dfafa'}}


mycollection.update_one(record_to_update1, update_2)

query_5= mycollection.find({'name':'Steven S.'})
for item in query_5:
    print(item)

{'_id': ObjectId('5d34a176632fab910a5ad134'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee', 'address': '367 55th St., apt 2A', 'test': 'dfafa', 'birthday': '08/30/1991'}
{'_id': ObjectId('5d34a19c632fab910a5ad139'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}
{'_id': ObjectId('5d34a1fe632fab910a5ad13e'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}
{'_id': ObjectId('5d34a248632fab910a5ad144'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}

Now, let's assume that we want to add birthdays for each customer record. Consider the following table:

|     Name     |  Birthday  |
|:------------:|:----------:|
|  John Smith  | 02/20/1986 |
|  Jane Smith  | 07/07/1983 |
|  Adam Enbar  | 12/02/1982 |
| Avi Flombaum | 04/17/1983 |
|   Steven S.  | 08/30/1991 |

We want to add birthdays for each person, but we want to do so in a way where we don't have to do the same repetitive task over and over again. This seems like a good opportunity to write a function to handle some of the logic for us!

In the cell below:

* Store the names in the `names_list` variable as a list.
* Store the birthdays in the `birthdays_list` variable as a list.
* Write a function that takes in the two different lists, and updates each record by adding in the appropriate key-value pair containing that user's birthday.

**_Hint:_** There are several ways that you could write this, depending on whether you want to use the `update_one()` method or the `update_many()` method. See if you can figure out both approaches!

In [67]:
names_list = ['John Smith','Jane Smith','Adam Enbar','Avi Flombaum','Steven S.']
birthdays_list = ['02/20/1986','07/07/1983','12/02/1982', '04/17/1983', '08/30/1991']


def update_birthdays(names, birthdays):
        for  i,name in enumerate(names) :
            birthday=birthdays[i]
            record_to_update = {'name':name}
            update_1 = {'$set': {'birthday': birthday}}
            mycollection.update_one(record_to_update, update_1)

Now, write a query to check your work and see that the birthdays were added correctly.

In [66]:
update_birthdays(names_list, birthdays_list)
query_6 = mycollection.find({})
for item in query_6:
    print(item)

{'_id': ObjectId('5d34a176632fab910a5ad131'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com', 'balance': 25, 'birthday': '07/07/1983'}
{'_id': ObjectId('5d34a176632fab910a5ad132'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com', 'address': '11 Broadway', 'balance': 14.99, 'notes': 'Set up on recurring billing cycle'}
{'_id': ObjectId('5d34a176632fab910a5ad133'), 'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com', 'address': '11 Broadway', 'balance': 0.0, 'birthday': '04/17/1983'}
{'_id': ObjectId('5d34a176632fab910a5ad134'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee', 'address': '367 55th St., apt 2A', 'test': 'dfafa', 'birthday': '08/30/1991'}
{'_id': ObjectId('5d34a19c632fab910a5ad135'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'address': '123 mulberry lane', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved', 'birthday': '02/20/1986'}
{'_id': ObjectId('5d34a19c632fab910a5ad136'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com', 'balance': 25}
{'_id': ObjectId('5d34a19c632fab910a5ad137'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com', 'address': '11 Broadway', 'balance': 14.99, 'notes': 'Set up on recurring billing cycle'}
{'_id': ObjectId('5d34a19c632fab910a5ad138'), 'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com', 'address': '11 Broadway', 'balance': 0.0}
{'_id': ObjectId('5d34a19c632fab910a5ad139'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}
{'_id': ObjectId('5d34a1fe632fab910a5ad13a'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'address': '123 mulberry lane', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
{'_id': ObjectId('5d34a1fe632fab910a5ad13b'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com', 'balance': 25}
{'_id': ObjectId('5d34a1fe632fab910a5ad13c'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com', 'address': '11 Broadway', 'balance': 14.99, 'notes': 'Set up on recurring billing cycle'}
{'_id': ObjectId('5d34a1fe632fab910a5ad13d'), 'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com', 'address': '11 Broadway', 'balance': 0.0}
{'_id': ObjectId('5d34a1fe632fab910a5ad13e'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}
{'_id': ObjectId('5d34a248632fab910a5ad140'), 'name': 'John Smith', 'email': 'j.smith@thesmiths.com', 'address': '123 mulberry lane', 'balance': 0.0, 'notes': 'Called technical support, issue not yet resolved'}
{'_id': ObjectId('5d34a248632fab910a5ad141'), 'name': 'Jane Smith', 'email': 'jane_smith@thesmiths.com', 'balance': 25}
{'_id': ObjectId('5d34a248632fab910a5ad142'), 'name': 'Adam Enba', 'email': 'adam@theflatironschool.com', 'address': '11 Broadway', 'balance': 14.99, 'notes': 'Set up on recurring billing cycle'}
{'_id': ObjectId('5d34a248632fab910a5ad143'), 'name': 'Avi Flombaum', 'email': 'avi@theflatironschool.com', 'address': '11 Broadway', 'balance': 0.0}
{'_id': ObjectId('5d34a248632fab910a5ad144'), 'name': 'Steven S.', 'email': 'steven.s@gmail.net\t', 'balance': -20.23, 'notes': 'Refunded for overpayment due to price match guarantee'}

Great! It looks like the birthdays have been successfully added to every record correctly!

## Summary

In this lesson, we got some hands-on practice working with MongoDB!